@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: rgb(243,243,243);
  --foreground: #171717;
  --disabled: #777;
  --accent: #da1f26;
  --secondary: #2e3359;
  --lunit: 2vw;
}


body {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 600;	
		color: var(--foreground);
		background-color: var(--background);
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
		
}
