@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: rgb(235, 232, 224);
  --foreground: #171717;
  --disabled: #777;
  --accent: #da1f26;
  --secondary: #3f5989;
  --lunit: 2vw;
}

body {
  /* font-family: neuzeit-grotesk, sans-serif; */
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 200;
  color: var(--foreground);
  background-color: var(--background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
