@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #da1f26;
}



body {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 600;	
		color: var(--font-color);
		background-color: var(--bg-color);
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
		
}
