@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {

  --background: rgb(23, 23, 23);
  --foreground: rgb(235, 235, 235);
  --disabled: #555;
  --accent: #da1f26;
  --secondary: #8ab4f8;
  --lunit: 2vw;
}

[data-theme="light"] {
  --background: rgb(235, 232, 224);
  --foreground: rgb(39, 39, 38);
  --disabled: #a39f90;
  --accent: #da1f26;
  --secondary: #3f5989;
}

body {
  /* font-family: neuzeit-grotesk, sans-serif; */
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 200;
  color: var(--foreground);
  background-color: var(--background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  transition:
    background-color 0.4s ease,
    color 0.4s ease;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}