.aboutMeDiv {
    margin-bottom: 75px;
    display: flex;
    gap: 20px;
    justify-content: center;
    height: auto;
    font-size: 1em;
    width: 100%;
    margin-bottom: 20vw;
}

.aboutMeHeader {
    width: 30vw;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.aboutMeContent {
    width: 30vw;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
}