.galleryDiv {
    width: 100%;
    display: grid;
    padding: 0 120px 0 120px ;
    gap: 60px;
    grid-template-columns: repeat(12, 1fr)
}

@media (max-width: 600px) {
    .galleryDiv {
        padding: 0 20px;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
}


