.gridOverlay {
  position: absolute;
  /* stays on screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* so it doesn't block clicks */
  z-index: -1;
}



.gridLine {
  position: absolute;
  width: 100%;
  border-top: 1px dashed var(--disabled);
}

.gridLabel {
  position: absolute;
  left: 5px;
  top: -11px;
  font-size: 12px;
  color: var(--secondary);
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 600;
  font-size: 14px;
  background-color: var(--background);
  transition:
    background-color 0.4s ease,
    color 0.4s ease;
}



@media (max-width: 700px) {
  .gridLabel {
    font-size: 12px;
    top: -10px;
  }
}