/* hero.module.css */

.heroContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.shape {
  position: absolute;
  /* cursor: grab; */
  display: flex;
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 600;
  white-space: nowrap;
  border: 1px solid var(--foreground);

  text-transform: uppercase;
  padding: 10px;
}

.shapeVertical {
  align-items: last baseline;
  justify-content: auto;
  color: var(--accent);
  font-size: 3rem;
  writing-mode: sideways-lr;
  /* //add indent to the text */

  /* Add text border (stroke) */

  -webkit-text-stroke: 1px black; /* Outline color and thickness */
  text-stroke: 1px black; /* For spec compatibility */
}

.shapeHorizontal {
  align-items: center;
  justify-content: auto;
  color: #fff;
  font-size: 18px;
  z-index: 3;
  /* Add text border (stroke) */
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
}

@media (max-width: 700px) {
  .shapeVertical {
    font-size: 2rem;
    writing-mode: horizontal-tb;
  }
  .shapeHorizontal {
    writing-mode: sideways-lr;
  }
}
