/* hero.module.css */

.heroContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.shape {
  position: absolute;
  cursor: grab;
  display: flex;
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 600;
  white-space: nowrap;
  border: 1px solid var(--foreground);
}

.shapeVertical {
  align-items: auto;
  justify-content: auto;
  color: #d93838ff;
  font-size: 64px;
}

.shapeHorizontal {
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
}
