/* hero.module.css */

.heroContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.shape {
  position: absolute;
  /* cursor: grab; */
  display: flex;
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 600;
  white-space: nowrap;
  border: 1px solid var(--foreground);
}

/* .shapeRandom {
  z-index: 1;
}

.shapeNormal {
  z-index: 3;
} */

.shapeVertical {
  align-items: auto;
  justify-content: auto;
  color: var(--accent);
  font-size: 3rem;
  writing-mode: sideways-lr;
  /* text-orientation: mixed; */
  /* transform: rotate(180deg); */
}

.shapeHorizontal {
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
}

@media (max-width: 700px) {
  .shapeVertical {
    font-size: 2rem;
    writing-mode: horizontal-tb;
  }
  .shapeHorizontal {
    writing-mode: sideways-lr;
  }
}
