.landingContainer {
  position: relative;
}

.gridLine {
  position: absolute;
  width: 100%;
  border-top: 1px dashed var(--disabled);

  color: var(--secondary);
}

.gridLabel {
  position: absolute;
  left: 5px;
  top: -11px;
  background-color: var(--background);
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.textLine {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  max-width: 50vw;
}

.galleryTitle {
  height: 0;
  overflow: visible;
  margin: 0 0 0 10vw;
  color: var(--foreground);
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 600;
  font-size: 5rem;
  /* transform: translate(0, -10vw); */
}
@media (max-width: 700px) {
  .galleryTitle {
    margin: 0 0 0 5vw;
    font-size: 4rem;
  }
}
