.landingContainer {
  position: relative;
  z-index: 0;
}

.gridLine {
  position: absolute;
  width: 100%;
  border-top: 1px dashed var(--disabled);

  color: var(--secondary);
}

.gridLabel {
  position: absolute;
  left: 5px;
  top: -11px;
  background-color: var(--background);
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.textLine {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  max-width: 50vw;
}

.galleryTitle {
  font-weight: 600;
  margin: 0 0 0 10vw;
  color: var(--foreground);
  letter-spacing: 2px;
  font-size: 2rem;
}
