.landingContainer {
  position: relative;
  z-index: 0;
}

.httptext {
  position: absolute;
  right: 83vw;
  top: 840px;
}

.gridLine {
  position: absolute;
  width: 100%;
  border-top: 1px dashed var(--disabled);

  color: var(--secondary);
  z-index: -1;
}

.gridLabel {
  position: absolute;
  left: 5px;
  top: -11px;
  background-color: var(--background);
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 600;
  font-size: 14px;
  z-index: -1;
}

.textLine {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 50vw;
  /* max-width: 50vw; */
}

.galleryTitle {
  height: 0;
  overflow: visible;
  margin: 0 0 0 10vw;
  color: var(--foreground);
  /* font-family: "neuzeit-grotesk", sans-serif; */
  font-weight: 600;
  font-size: 5rem;
  position: absolute;
}

@media (max-width: 700px) {
  .gridLabel {
    font-size: 12px;
    top: -10px;
  }

  .galleryTitle {
    margin: 0 0 0 10vw;
    font-size: 2rem;
  }

  .httptext {
    position: absolute;
    left: calc(50vw - 90px);
    top: 1075px;
    writing-mode: sideways-lr;
    text-orientation: mixed;
  }

  .textLine {
    font-size: 1.2rem;
    width: 80vw;
  }
}