.projectCardWrapper {
  display: grid;
  max-height: 500px;
  margin: 25px;
  box-sizing: border-box; /* fix quotes */
  border: 1px solid var(--foreground);
  /* padding: 2px; */
  /* z-index: 1; */
}
.projectImage {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  object-fit: contain;
}

.projectVideo {
  max-height: 500px;
  width: auto;
  object-fit: contain;
}
