.projectCardWrapper {
  display: grid;
  max-height: 500px;
  margin: 100px;
  /* box-sizing: border-box;  */
  /* border: 1px solid var(--foreground); */
  /* padding: 2px; */
  /* z-index: 1; */
}

.projectImage {
  width: 100%;
  /* take full parent width */
  height: auto;
  /* scale proportionally */
  max-height: 500px;
  object-fit: contain;
  border: 1px solid var(--foreground);
  transition: border 0.2s;
}

.projectImage:hover {
  border: 4px solid var(--accent);
}

.projectVideo {
  max-height: 500px;
  width: auto;
  object-fit: contain;
  box-sizing: border-box;
  border: 1px solid var(--foreground);
  transition: border 0.2s;
}

.projectVideo:hover {
  border: 4px solid var(--accent);
}

@media (max-width: 700px) {

  .projectCardWrapper {
    margin: 25px;
  }

}