.projectCardWrapper {
  display: grid;
  max-height: 500px;
  margin: 100px;
}

.projectImage,
.projectVideo {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  border: 2px solid var(--foreground);
  transition: border 0.2s, transform 0.2s;
  box-sizing: border-box;
}

.projectImage:hover,
.projectVideo:hover {
  border: 10px solid var(--foreground);
}

.projectVideo {
  width: 100%;
  height: auto;
}

@media (max-width: 700px) {
  .projectCardWrapper {
    margin: 25px;
  }
}