
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.thumbnailContainer {
    margin-bottom: 10px;
    border: 2px solid
}

.projectCardDiv:hover .thumbnailContainer {
    border: 2px solid var(--accent)
}

.projectCardDiv:hover h3,
.projectCardDiv:hover h4,
.projectCardDiv:hover span  {
    color:var(--accent)
}


.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: left;
}
.tag {
    display: inline-block;
    border-color: black;
    padding: 5px 10px;
    margin: 3px;
    border-radius: 5px;
    font-size: 12px;
}