.projectCardWrapper {
  display: grid;
  place-items: center;
  height: 500px;
  margin:  25px;
}

.projectImage {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  object-fit: contain;
}

.projectVideo {
  height: 500px;
  width: auto;
  object-fit: contain;
}
