.projectPageDiv {
    margin-top: 50px;

    /* position: absolute; */
    z-index: 1;
    margin: 0 10% 0 10%;
    padding: 0 25px 0 25px;
    /* border: 1px solid white; */


    @media (max-width: 700px) {
        .contents {
            margin: 0;
        }
    }
}


.tagsContainer {
    /* text-transform: uppercase; */

    font-weight: 100;
    padding: 10svh 25px 0px 25px;
    margin: 20px 0px;
}

.tag {
    display: inline-block;
    border-color: black;
    background-color: var(--foreground);
    color: var(--background);
    padding: 0px 5px;
    border: 1px solid black;
    margin: 2px 2px;
    /* border-radius: 10px; */
    font-size: 1.2rem;
}

/* heading */
.projectPageDiv h1 {
    margin: 0;
    font-size: 5em;
    font-family: "neuzeit-grotesk", sans-serif;
    /* border: 1px solid var(--foreground); */
    /* width: 200px; */
    /* height: 40px; */
    font-weight: 600;
    color: var(--accent);
    padding: 0 25px 0 25px;
    text-transform: uppercase;
    /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
}

/* subheading */
.projectPageDiv h2 {
    font-size: 1.5em;
    margin: 0;
    font-weight: 200;
    /* margin-bottom: 1em; */
    padding: 0 25px 0 25px;
}


.sectionGroup {
    display: flex;
    flex-direction: row;
}

.textSection p {
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 25px;
}

/* content */

.h {
    /* border: 1px solid blue; */
    width: 50%;
    padding: 25px;
}

.q {
    width: 25%;
    padding: 25px;
}

.t {
    /* border: 1px solid blue; */
    width: 33.33%;
    padding: 25px;

}

.t2 {
    width: 66.66%;
    padding: 25px;
}


.f {
    width: 100%;
    padding: 25px;
}

.closeButton {
    position: fixed;
    top: 10svh;
    right: 10vw;
    width: 40px;
    height: 40px;
    font-size: 32px;
    font-weight: 700;
    color: var(--accent);
    /* background: white; */
    /* border: 3px solid var(--accent); */
    cursor: pointer;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;

    line-height: normal;

    text-transform: uppercase;
    letter-spacing: 0.1em;
    box-shadow: none;
    transition: none;
}

.closeButton:hover {
    background: var(--accent);
    color: var(--background);
}

.endOfPage {
    text-align: center;
    font-size: 0.9em;
    margin: 4em 0 2em;
}

.endOfPage hr {
    width: 30vw;
    margin: 5em auto 7em;
    border: none;
    border-top: 1px solid var(--accent);
}



.imageSection img {
    border-style: solid;
    border-color: #111;
    border-width: 0.5px;
    width: 100%;
    height: auto;
}

.videoSection video {
    border-style: solid;
    border-color: #111;
    border-width: 0.5px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 700px) {
    .closeButton {
        font-size: 64px;
        top: 10vw;
        right: 5vw;
    }

    .projectPageDiv {
        margin: 0;

    }

    .projectPageDiv h1 {
        font-size: 2em;
    }

    .sectionGroup {
        flex-direction: column;
        width: 100%;
        margin-bottom: 0em;
    }

    .t {
        width: 100%;
        margin-bottom: 4em;
        /* padding: 0; */
    }

    .t2 {
        width: 100%;
        margin-bottom: 4em;
        /* padding: 0; */
    }

    .h {
        width: 100%;
        margin-bottom: 4em;
        /* padding: 0; */
    }

    .q {
        width: 100%;
        margin-bottom: 4em;
        /* padding: 0; */
    }

    .f {
        width: 100%;
        margin-bottom: 4em;
        /* padding: 0; */
    }

    .textSection p {
        margin-bottom: 1em;
    }
}