.projectCardWrapper {
  display: grid;
  max-height: 500px;
  margin: 100px;
  /* box-sizing: border-box; 
  border: 1px solid var(--foreground); */
  /* padding: 2px; */
  /* z-index: 1; */
}

/* .projectImage {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  object-fit: contain;
  box-sizing: border-box; 
  border: 1px solid var(--foreground);
} */



.projectImage {
  width: 100%;
  /* take full parent width */
  height: auto;
  /* scale proportionally */
  max-height: 500px;
  object-fit: contain;
  border: 1px solid var(--foreground);
}


.projectVideo {
  max-height: 500px;
  width: auto;
  object-fit: contain;
  box-sizing: border-box;
  border: 1px solid var(--foreground);
}

@media (max-width: 700px) {

  .projectCardWrapper {
    margin: 25px;
  }

}