.ShapesOverlayContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  pointer-events: none;
}
.ShapesBackgroundContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.shape {
  /* border: 1px solid var(--foreground); */
  pointer-events:all;
  position: relative;
  /* border: 1px solid var(--foreground);
  box-sizing: border-box; */
  background-color: var(--foreground);
  color: aliceblue;
  /* opacity: var(--alpha, 1);  */
}

/* 
.dot {
    background-color: var(--accent);
    border: 1px solid black;
  }


.text {
  color: var(--background);
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 10px;
  width: 250px;
  white-space: normal;
  word-break: break-word;
  
}

.name{
  font-size: 3rem;
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--accent);
  padding-left: 1vw;
  width: 500px;
  -webkit-text-stroke: 1px var(--foreground); 
  text-stroke: 1px var(--foreground); 
}

.tag {
text-shadow: -1px 0 var(--foreground), 0 1px var(--foreground), 1px 0 var(--foreground), 0 -1px var(--foreground);
  
}

.year{
text-shadow: -1px 0 var(--foreground), 0 1px var(--foreground), 1px 0 var(--foreground), 0 -1px var(--foreground);
  
} */
/* 
@media (max-width: 700px) {

  .text{
    font-size: 1.5rem;
  }
.name{
  font-size: 2rem;
}
} */